<div class="log-container">
	<div>
		<div>
			<label for="uuid">UUID: </label>
			<input type="text" #uuid required id="uuid">
			<button (click)="join_mission(uuid.value)">Join Mission</button>
		</div>
		<div>
			<label for="description">Description: </label>
			<input type="text" #description required id="description">
			<label for="tags">Tags: </label>
			<input type="text" #tags required id="tags">
			<button (click)="create_mission(description.value, tags.value)">Create Mission</button>
		</div>
		<div>
			<button (click)="log_out()">Log Out</button>
		</div>
	</div>
	<div class="entry-container">
		<app-entry-details></app-entry-details>
	</div>
	<div class="menu-container">
		<app-menu-bar></app-menu-bar>
	</div>
	<div class="table-container">
		<ng-container *ngIf="dataSource.loading$ | async">
			<mat-spinner></mat-spinner>
		</ng-container>
		<mat-table class="mission-logs-table" [dataSource]="dataSource" matSort matSortActive="Created"
			matSortDirection="asc" mastSortDisableClear>
			<ng-container matColumnDef="Mission">
				<mat-header-cell *matHeaderCellDef>Mission</mat-header-cell>
				<mat-cell *matCellDef="let log">tbd</mat-cell>
			</ng-container>
			<ng-container matColumnDef="Activity">
				<mat-header-cell *matHeaderCellDef>Activity</mat-header-cell>
				<mat-cell *matCellDef="let log">{{log.description}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="Entries">
				<mat-header-cell *matHeaderCellDef>Entries</mat-header-cell>
				<mat-cell *matCellDef="let log">{{log.entries.length}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="Users">
				<mat-header-cell *matHeaderCellDef>Users</mat-header-cell>
				<mat-cell *matCellDef="let log">{{log.users.length}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="Date and Author">
				<mat-header-cell *matHeaderCellDef>Date and Author</mat-header-cell>
				<mat-cell *matCellDef="let log">{{log.date_published}}<br>author goes here</mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
		</mat-table>
	</div>
</div>