
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: #FFFFFF;
$accent: #559DBF;
$warn: #D9181F;
$background: #14173E;
$highlight: #1976D2;

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0 80px;
  font-family: "Titillium Web";
  color: $primary;
  background-color: $background;
}

@font-face {
  font-family: "Titillium Web";
  src: local("Titillium Web"), url(./assets/fonts/TitilliumWeb-Regular.ttf) format("truetype");
}

.alert {
  color: $warn;
}

